// edit-post
.authors {
  .paragraph, .image {
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #ecf2f9;;
      cursor: pointer;
      border-radius: 5px;
    }
  }
  .image {
    text-align: center;
    img {
      max-width: 80%;
    }
  }
  .post_card {
    .header_img {
      width: 100%;
      height: 100px;
      background-size: cover;
      background-position: center;
    }
  }
}
